#u486-4
{
	font-family: lato-n4, sans-serif;
}

#u528-4
{
	font-family: lato-n4, sans-serif;
}

#u521-4
{
	font-family: lato-n4, sans-serif;
}

#u514-4
{
	font-family: lato-n4, sans-serif;
}

#u1119-4
{
	font-family: lato-n4, sans-serif;
}

#u1132-4
{
	font-family: lato-n4, sans-serif;
}

#u1127-4
{
	font-family: lato-n4, sans-serif;
}

#u1141-4
{
	font-family: lato-n4, sans-serif;
}

#u722-4
{
	font-family: lato-n3, sans-serif;
}

#u6555-4
{
	font-family: lato-n3, sans-serif;
}

#u6366-4,#u6371-4,#u6368-4,#u6369-4,#u6365-4,#u6367-4,#u6372-4,#u6370-4,#u6373-4,#u6535-4,#u6537-4,#u6539-4,#u6540-4,#u6534-4,#u6541-4,#u6538-4,#u6533-4,#u6536-4,#u6430-4,#u6433-4,#u6434-4,#u6437-4,#u6436-4,#u6431-4,#u6438-4,#u6435-4,#u6432-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6557-11,#u6545-4,#u6354-4,#u6426-4,#u6414-4,#u6556-4,#u6351-4,#u6542-4,#u6552-4,#u6543-4,#u6350-4,#u6738-4,#u6422-4,#u6735-4
{
	font-family: lato-n4, sans-serif;
}

