#u486-4
{
	font-family: lato-n4, sans-serif;
}

#u528-4
{
	font-family: lato-n4, sans-serif;
}

#u521-4
{
	font-family: lato-n4, sans-serif;
}

#u514-4
{
	font-family: lato-n4, sans-serif;
}

#u1119-4
{
	font-family: lato-n4, sans-serif;
}

#u1132-4
{
	font-family: lato-n4, sans-serif;
}

#u1127-4
{
	font-family: lato-n4, sans-serif;
}

#u1141-4
{
	font-family: lato-n4, sans-serif;
}

#u722-4
{
	font-family: lato-n3, sans-serif;
}

#u6555-4
{
	font-family: lato-n3, sans-serif;
}

#u6557-11,#u6545-4,#u6354-4,#u6426-4,#u6414-4,#u6556-4,#u6542-4,#u6552-4,#u9513-4,#u10122-4,#u10069-4,#u10078-4,#u10087-4,#u10096-4,#u10194-4,#u10150-4,#u10159-4,#u10168-4,#u10223-4,#u10250-4,#u6543-4,#u9533-4,#u9573-4,#u9564-4,#u6738-4,#u6422-4,#u6735-4
{
	font-family: lato-n4, sans-serif;
}

