#u486-4
{
	font-family: lato-n4, sans-serif;
}

#u528-4
{
	font-family: lato-n4, sans-serif;
}

#u521-4
{
	font-family: lato-n4, sans-serif;
}

#u514-4
{
	font-family: lato-n4, sans-serif;
}

#u1119-4
{
	font-family: lato-n4, sans-serif;
}

#u1132-4
{
	font-family: lato-n4, sans-serif;
}

#u1127-4
{
	font-family: lato-n4, sans-serif;
}

#u1141-4
{
	font-family: lato-n4, sans-serif;
}

#u722-4
{
	font-family: lato-n3, sans-serif;
}

#u5257-4
{
	font-family: lato-n3, sans-serif;
}

#u5402-4,#u5398-4,#u5400-4,#u5401-4,#u5403-4,#u5396-4,#u5397-4,#u5399-4,#u5395-4,#u5345-4,#u5342-4,#u5344-4,#u5343-4,#u5338-4,#u5339-4,#u5346-4,#u5340-4,#u5341-4,#u5288-4,#u5284-4,#u5280-4,#u5287-4,#u5282-4,#u5285-4,#u5281-4,#u5283-4,#u5286-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u5430-11,#u5253-4,#u5433-4,#u5442-4,#u5245-4,#u5251-4,#u5246-4,#u5239-4,#u5436-4,#u5244-4,#u5256-4,#u6660-4,#u5238-4,#u6653-4
{
	font-family: lato-n4, sans-serif;
}

