#u486-4
{
	font-family: lato-n4, sans-serif;
}

#u528-4
{
	font-family: lato-n4, sans-serif;
}

#u521-4
{
	font-family: lato-n4, sans-serif;
}

#u514-4
{
	font-family: lato-n4, sans-serif;
}

#u1119-4
{
	font-family: lato-n4, sans-serif;
}

#u1132-4
{
	font-family: lato-n4, sans-serif;
}

#u1127-4
{
	font-family: lato-n4, sans-serif;
}

#u1141-4
{
	font-family: lato-n4, sans-serif;
}

#u722-4
{
	font-family: lato-n3, sans-serif;
}

#u6145-4
{
	font-family: lato-n3, sans-serif;
}

#u6081-11,#u6157-4,#u6150-4,#u6144-4,#u6146-4,#u6071-4,#u8240-4,#u6083-4,#u6082-4,#u9341-4,#u9350-4,#u9212-4,#u6153-4,#u9232-4,#u9303-4,#u9312-4,#u9321-4,#u10301-4,#u10319-4,#u8238-4,#u9252-4,#u9280-4,#u10333-4,#u6720-4,#u6080-4,#u6713-4
{
	font-family: lato-n4, sans-serif;
}

