#u486-4
{
	font-family: lato-n4, sans-serif;
}

#u528-4
{
	font-family: lato-n4, sans-serif;
}

#u521-4
{
	font-family: lato-n4, sans-serif;
}

#u514-4
{
	font-family: lato-n4, sans-serif;
}

#u1119-4
{
	font-family: lato-n4, sans-serif;
}

#u1132-4
{
	font-family: lato-n4, sans-serif;
}

#u1127-4
{
	font-family: lato-n4, sans-serif;
}

#u1141-4
{
	font-family: lato-n4, sans-serif;
}

#u722-4
{
	font-family: lato-n3, sans-serif;
}

#u3550-4
{
	font-family: lato-n3, sans-serif;
}

#u3665-4,#u3664-4,#u3663-4,#u3668-4,#u3660-4,#u3666-4,#u3661-4,#u3667-4,#u3662-4,#u3906-4,#u3902-4,#u3904-4,#u3905-4,#u3907-4,#u3900-4,#u3901-4,#u3903-4,#u3899-4,#u4061-4,#u4058-4,#u4060-4,#u4059-4,#u4054-4,#u4055-4,#u4062-4,#u4056-4,#u4057-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3490-11,#u3486-4,#u3489-4,#u3487-4,#u3793-4,#u3795-4,#u3797-4,#u3799-4,#u3792-4,#u3953-4,#u4107-4,#u6640-4,#u4668-4,#u6633-4
{
	font-family: lato-n4, sans-serif;
}

