#u486-4
{
	font-family: lato-n4, sans-serif;
}

#u528-4
{
	font-family: lato-n4, sans-serif;
}

#u521-4
{
	font-family: lato-n4, sans-serif;
}

#u514-4
{
	font-family: lato-n4, sans-serif;
}

#u1119-4
{
	font-family: lato-n4, sans-serif;
}

#u1132-4
{
	font-family: lato-n4, sans-serif;
}

#u1127-4
{
	font-family: lato-n4, sans-serif;
}

#u1141-4
{
	font-family: lato-n4, sans-serif;
}

#u722-4
{
	font-family: lato-n3, sans-serif;
}

#u6145-4
{
	font-family: lato-n3, sans-serif;
}

#u6250-4,#u6244-4,#u6252-4,#u6249-4,#u6248-4,#u6251-4,#u6247-4,#u6246-4,#u6245-4,#u6117-4,#u6119-4,#u6115-4,#u6114-4,#u6121-4,#u6116-4,#u6120-4,#u6113-4,#u6118-4,#u6194-4,#u6193-4,#u6186-4,#u6189-4,#u6191-4,#u6188-4,#u6187-4,#u6190-4,#u6192-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6081-11,#u6157-4,#u6150-4,#u6144-4,#u6146-4,#u6071-4,#u6278-4,#u6083-4,#u6082-4,#u6153-4,#u6147-4,#u6720-4,#u6080-4,#u6713-4
{
	font-family: lato-n4, sans-serif;
}

