#u486-4
{
	font-family: lato-n4, sans-serif;
}

#u528-4
{
	font-family: lato-n4, sans-serif;
}

#u521-4
{
	font-family: lato-n4, sans-serif;
}

#u514-4
{
	font-family: lato-n4, sans-serif;
}

#u1119-4
{
	font-family: lato-n4, sans-serif;
}

#u1132-4
{
	font-family: lato-n4, sans-serif;
}

#u1127-4
{
	font-family: lato-n4, sans-serif;
}

#u1141-4
{
	font-family: lato-n4, sans-serif;
}

#u722-4
{
	font-family: lato-n3, sans-serif;
}

#u599-4,#u600-13,#u612-6
{
	font-family: lato-n3, sans-serif;
}

#u598-15,#u604-4,#u609-9,#u610-4,#u611-4,#u613-4,#u615-4,#u617-4,#u621-4,#u622-4,#u623-4,#u627-4,#u628-4,#u629-4
{
	font-family: lato-n4, sans-serif;
}

