#u486-4
{
	font-family: lato-n4, sans-serif;
}

#u528-4
{
	font-family: lato-n4, sans-serif;
}

#u521-4
{
	font-family: lato-n4, sans-serif;
}

#u514-4
{
	font-family: lato-n4, sans-serif;
}

#u1119-4
{
	font-family: lato-n4, sans-serif;
}

#u1132-4
{
	font-family: lato-n4, sans-serif;
}

#u1127-4
{
	font-family: lato-n4, sans-serif;
}

#u1141-4
{
	font-family: lato-n4, sans-serif;
}

#u722-4
{
	font-family: lato-n3, sans-serif;
}

#u636-4
{
	font-family: lato-n3, sans-serif;
}

#u1808.PamphletThumbSelected #u1828-4 p,#u633-11,#u1934-4,#u635-4,#u1451-4
{
	font-family: lato-n4, sans-serif;
}

#u1821-4
{
	font-family: lato-n4, sans-serif;
}

#u1823-4
{
	font-family: lato-n4, sans-serif;
}

#u1828-4
{
	font-family: lato-n4, sans-serif;
}

#u1827-4
{
	font-family: lato-n4, sans-serif;
}

#u1825-4
{
	font-family: lato-n4, sans-serif;
}

#u1830-4
{
	font-family: lato-n4, sans-serif;
}

#u1832-4
{
	font-family: lato-n4, sans-serif;
}

#u1834-4
{
	font-family: lato-n4, sans-serif;
}

#u1413,#u1413-5,#u1413-8,#u1393,#u1393-5,#u1393-8,#u1427,#u1427-5,#u1427-8,#u1418,#u1418-5,#u1418-8,#u1443,#u1443-5,#u1443-8,#u1445,#u1445-5,#u1445-8,#u1437,#u1437-5,#u1437-8,#u1430,#u1430-5,#u1430-8,#u1400,#u1400-5,#u1400-8,#u1407,#u1407-5,#u1407-8,#u1423,#u1423-5,#u1423-8,#u1397,#u1397-5,#u1397-8
{
	font-family: asap-n4, sans-serif;
}

#u1411-4,#u1413-13,#u1410-5,#u1391-4,#u1393-13,#u1392-5,#u1425-4,#u1427-13,#u1426-5,#u1417-4,#u1418-13,#u1416-5,#u1441-4,#u1443-13,#u1440-5,#u1446-4,#u1445-13,#u1447-5,#u1438-4,#u1437-13,#u1435-5,#u1431-4,#u1430-13,#u1432-5,#u1403-4,#u1400-13,#u1401-5,#u1408-4,#u1407-13,#u1406-5,#u1421-4,#u1423-13,#u1422-5,#u1398-4,#u1397-13,#u1396-5
{
	font-family: asap-n7, sans-serif;
}

