#u486-4
{
	font-family: lato-n4, sans-serif;
}

#u528-4
{
	font-family: lato-n4, sans-serif;
}

#u521-4
{
	font-family: lato-n4, sans-serif;
}

#u514-4
{
	font-family: lato-n4, sans-serif;
}

#u1119-4
{
	font-family: lato-n4, sans-serif;
}

#u1132-4
{
	font-family: lato-n4, sans-serif;
}

#u1127-4
{
	font-family: lato-n4, sans-serif;
}

#u1141-4
{
	font-family: lato-n4, sans-serif;
}

#u722-4
{
	font-family: lato-n3, sans-serif;
}

#u652-22,#u656-2,#u658-4,#u701-2,#u700-4,#u707-2,#u706-4,#u713-2,#u712-4,#u719-2,#u718-4
{
	font-family: lato-n3, sans-serif;
}

#u656-5,#u701-5,#u707-5,#u713-5,#u719-5,#u680-4
{
	font-family: lato-n7, sans-serif;
}

#u643-14,#u646-4,#u654-8,#u660-4,#u699-4,#u705-4,#u711-4,#u717-4,#u1935-4,#u1936-4,#u2010-4,#u2021-4,#u1997-4,#u2011-4,#u2023-4,#u2001-4,#u2013-4,#u2025-4,#u1994-4,#u2009-4,#u2022-4,#u1998-4,#u2012-4,#u2024-4,#u2002-4,#u2014-4,#u2026-4
{
	font-family: lato-n4, sans-serif;
}

