#u486-4
{
	font-family: lato-n4, sans-serif;
}

#u528-4
{
	font-family: lato-n4, sans-serif;
}

#u521-4
{
	font-family: lato-n4, sans-serif;
}

#u514-4
{
	font-family: lato-n4, sans-serif;
}

#u1119-4
{
	font-family: lato-n4, sans-serif;
}

#u1132-4
{
	font-family: lato-n4, sans-serif;
}

#u1127-4
{
	font-family: lato-n4, sans-serif;
}

#u1141-4
{
	font-family: lato-n4, sans-serif;
}

#u722-4
{
	font-family: lato-n3, sans-serif;
}

#u5932-4
{
	font-family: lato-n3, sans-serif;
}

#u5997-11,#u5852-4,#u17861-4,#u5858-4,#u5862-4,#u5855-4,#u5925-4,#u17897-4,#u17896-4,#u5934-4,#u5920-4,#u9396-4,#u9405-4,#u9414-4,#u9423-4,#u9432-4,#u9441-4,#u9848-4,#u9870-4,#u9884-4,#u9898-4,#u9927-4,#u9936-4,#u5861-4,#u9032-4,#u10000-4,#u10019-4,#u10028-4,#u10547-4,#u10556-4,#u5930-4,#u9696-4,#u9975-4,#u9966-4,#u6700-4,#u5924-4,#u6693-4
{
	font-family: lato-n4, sans-serif;
}

