#u486-4
{
	font-family: lato-n4, sans-serif;
}

#u528-4
{
	font-family: lato-n4, sans-serif;
}

#u521-4
{
	font-family: lato-n4, sans-serif;
}

#u514-4
{
	font-family: lato-n4, sans-serif;
}

#u1119-4
{
	font-family: lato-n4, sans-serif;
}

#u1132-4
{
	font-family: lato-n4, sans-serif;
}

#u1127-4
{
	font-family: lato-n4, sans-serif;
}

#u1141-4
{
	font-family: lato-n4, sans-serif;
}

#u722-4
{
	font-family: lato-n3, sans-serif;
}

#u681-2,#u683-5,#u687-5,#u691-5,#u695-5
{
	font-family: lato-n3, sans-serif;
}

#u681-6,#u682-4,#u686-4,#u690-4,#u694-4
{
	font-family: lato-n4, sans-serif;
}

