#u486-4
{
	font-family: lato-n4, sans-serif;
}

#u528-4
{
	font-family: lato-n4, sans-serif;
}

#u521-4
{
	font-family: lato-n4, sans-serif;
}

#u514-4
{
	font-family: lato-n4, sans-serif;
}

#u1119-4
{
	font-family: lato-n4, sans-serif;
}

#u1132-4
{
	font-family: lato-n4, sans-serif;
}

#u1127-4
{
	font-family: lato-n4, sans-serif;
}

#u1141-4
{
	font-family: lato-n4, sans-serif;
}

#u722-4
{
	font-family: lato-n3, sans-serif;
}

#u5257-4
{
	font-family: lato-n3, sans-serif;
}

#u5430-11,#u5253-4,#u5433-4,#u5442-4,#u5245-4,#u5251-4,#u5246-4,#u5239-4,#u5436-4,#u8700-4,#u8709-4,#u8718-4,#u8727-4,#u10365-4,#u10374-4,#u5256-4,#u8748-4,#u8757-4,#u8766-4,#u8775-4,#u10425-4,#u10434-4,#u8904-4,#u8832-4,#u8823-4,#u8850-4,#u8886-4,#u8931-4,#u8922-4,#u8841-4,#u8895-4,#u8877-4,#u8868-4,#u8859-4,#u8913-4,#u10456-4,#u10522-4,#u5244-4,#u6660-4,#u5238-4,#u6653-4
{
	font-family: lato-n4, sans-serif;
}

