#u486-4
{
	font-family: lato-n4, sans-serif;
}

#u528-4
{
	font-family: lato-n4, sans-serif;
}

#u521-4
{
	font-family: lato-n4, sans-serif;
}

#u514-4
{
	font-family: lato-n4, sans-serif;
}

#u1119-4
{
	font-family: lato-n4, sans-serif;
}

#u1132-4
{
	font-family: lato-n4, sans-serif;
}

#u1127-4
{
	font-family: lato-n4, sans-serif;
}

#u1141-4
{
	font-family: lato-n4, sans-serif;
}

#u722-4
{
	font-family: lato-n3, sans-serif;
}

#u5667-4
{
	font-family: lato-n3, sans-serif;
}

#u5664-11,#u5643-4,#u5650-4,#u5663-4,#u5659-4,#u5665-4,#u5669-4,#u5658-4,#u9145-4,#u9136-4,#u10266-4,#u9172-4,#u9181-4,#u10280-4,#u5644-4,#u6678-4,#u5657-4,#u6673-4
{
	font-family: lato-n4, sans-serif;
}

