#u486-4
{
	font-family: lato-n4, sans-serif;
}

#u528-4
{
	font-family: lato-n4, sans-serif;
}

#u521-4
{
	font-family: lato-n4, sans-serif;
}

#u514-4
{
	font-family: lato-n4, sans-serif;
}

#u1119-4
{
	font-family: lato-n4, sans-serif;
}

#u1132-4
{
	font-family: lato-n4, sans-serif;
}

#u1127-4
{
	font-family: lato-n4, sans-serif;
}

#u1141-4
{
	font-family: lato-n4, sans-serif;
}

#u722-4
{
	font-family: lato-n3, sans-serif;
}

#u5932-4
{
	font-family: lato-n3, sans-serif;
}

#u5949-4,#u5944-4,#u5947-4,#u5942-4,#u5941-4,#u5945-4,#u5946-4,#u5943-4,#u5948-4,#u5796-4,#u5798-4,#u5803-4,#u5804-4,#u5800-4,#u5802-4,#u5799-4,#u5801-4,#u5797-4,#u5870-4,#u5871-4,#u5875-4,#u5878-4,#u5874-4,#u5872-4,#u5876-4,#u5873-4,#u5877-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u5997-11,#u5927-4,#u5858-4,#u5852-4,#u5862-4,#u5855-4,#u5925-4,#u5934-4,#u5920-4,#u5861-4,#u5930-4,#u6700-4,#u5924-4,#u6693-4
{
	font-family: lato-n4, sans-serif;
}

