#u486-4
{
	font-family: lato-n4, sans-serif;
}

#u528-4
{
	font-family: lato-n4, sans-serif;
}

#u521-4
{
	font-family: lato-n4, sans-serif;
}

#u514-4
{
	font-family: lato-n4, sans-serif;
}

#u1119-4
{
	font-family: lato-n4, sans-serif;
}

#u1132-4
{
	font-family: lato-n4, sans-serif;
}

#u1127-4
{
	font-family: lato-n4, sans-serif;
}

#u1141-4
{
	font-family: lato-n4, sans-serif;
}

#u722-4
{
	font-family: lato-n3, sans-serif;
}

#u16082-4,#u16091-4,#u652-7,#u16094-8,#u16095-4,#u16122-4,#u16133-4,#u16127-4,#u16137-4,#u16130-4,#u16124-4,#u16634-4,#u16681-6,#u16639-4,#u16892-4,#u16891-6,#u16890-4,#u17040-4,#u17044-6,#u17046-4,#u17053-4,#u17054-6,#u17055-17,#u17072-4,#u17076-6,#u17078-7,#u17085-4,#u17086-6,#u17087-4,#u16140-4,#u17594-4
{
	font-family: lato-n3, sans-serif;
}

#u16081-4,#u16588-4,#u16093-4,#u16138-4,#u16632-4,#u16893-4,#u17045-4,#u17049-4,#u17077-4,#u17081-4,#u1936-4,#u2010-4,#u2021-4,#u1997-4,#u2011-4,#u2023-4,#u2001-4,#u2013-4,#u2025-4,#u1994-4,#u2009-4,#u2022-4,#u1998-4,#u2012-4,#u2024-4,#u2002-4,#u2014-4,#u2026-4,#u16085-4
{
	font-family: lato-n4, sans-serif;
}

#u16087-4
{
	font-family: lato-n4, sans-serif;
}

