#u2272-4
{
	font-family: lato-n4, sans-serif;
}

#u2267-4
{
	font-family: lato-n4, sans-serif;
}

#u2287-4
{
	font-family: lato-n4, sans-serif;
}

#u2280-4
{
	font-family: lato-n4, sans-serif;
}

#u2314-4
{
	font-family: lato-n4, sans-serif;
}

#u2293-4
{
	font-family: lato-n4, sans-serif;
}

#u2308-4
{
	font-family: lato-n4, sans-serif;
}

#u2299-4
{
	font-family: lato-n4, sans-serif;
}

#u2328-4
{
	font-family: lato-n3, sans-serif;
}

#u422-14,#u426-4,#u428-6,#u433-4,#u434-10,#u431-4,#u432-10
{
	font-family: lato-n3, sans-serif;
}

#u422-20,#u436-4
{
	font-family: lato-n4, sans-serif;
}

#u1887-4
{
	font-family: lato-n4, sans-serif;
}

