#u486-4
{
	font-family: lato-n4, sans-serif;
}

#u528-4
{
	font-family: lato-n4, sans-serif;
}

#u521-4
{
	font-family: lato-n4, sans-serif;
}

#u514-4
{
	font-family: lato-n4, sans-serif;
}

#u1119-4
{
	font-family: lato-n4, sans-serif;
}

#u1132-4
{
	font-family: lato-n4, sans-serif;
}

#u1127-4
{
	font-family: lato-n4, sans-serif;
}

#u1141-4
{
	font-family: lato-n4, sans-serif;
}

#u722-4
{
	font-family: lato-n3, sans-serif;
}

#u633-11,#u1934-4,#u11337-4,#u3356-4,#u3369-4,#u3378-4,#u3358-4,#u3371-4,#u3381-4,#u3404-4,#u3403-4,#u3409-4,#u3414-4,#u3415-4,#u3413-4
{
	font-family: lato-n4, sans-serif;
}

#u3327-4,#u3325-4,#u3329-4,#u3333-4,#u3334-4,#u3335-4,#u3357-6,#u3370-4,#u3380-4,#u3361-8,#u3372-10,#u3382-8,#u3410-4,#u3407-4,#u3412-4,#u3416-6,#u3417-8,#u3418-6
{
	font-family: lato-n3, sans-serif;
}

