.version.index /* version checker */
{
	color: #0000E3;
	background-color: #D8E614;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2114px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u2329
{
	z-index: 2;
	min-height: 83px;
	padding-bottom: 45px;
}

#menuu2260
{
	z-index: 4;
	width: 446px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 614px;
}

#u2268
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2271
{
	width: 110px;
	padding-bottom: 17px;
}

#u2272-4
{
	width: 110px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2271:hover #u2272-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2261
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 112px;
}

#u2264
{
	width: 110px;
	padding-bottom: 17px;
}

#u2267-4
{
	width: 110px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2271.MuseMenuActive #u2272-4,#u2264:hover #u2267-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2282
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 224px;
}

#u2285
{
	width: 110px;
	padding-bottom: 17px;
}

#u2287-4
{
	width: 110px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2264.MuseMenuActive #u2267-4,#u2285:hover #u2287-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2275
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 336px;
}

#u2278
{
	width: 110px;
	padding-bottom: 17px;
}

#u2271.MuseMenuActive,#u2264.MuseMenuActive,#u2285.MuseMenuActive,#u2278:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u2278.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u2280-4
{
	width: 110px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2285.MuseMenuActive #u2287-4,#u2278:hover #u2280-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2278.MuseMenuActive #u2280-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2329-bw
{
	z-index: 2;
	min-height: 83px;
}

#buttonu2352
{
	z-index: 146;
	width: 192px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 122px;
	background: transparent url("../images/caf_logowhite_final.svg") no-repeat left top;
	background-size: contain;
}

#buttonu2352:hover
{
	width: 192px;
	min-height: 0px;
	margin: 34px -10000px 0px 0px;
	background: transparent url("../images/caf_logonavy_final.svg") no-repeat center center;
	background-size: cover;
}

#buttonu2352.ButtonSelected
{
	width: 192px;
	min-height: 0px;
	margin: 34px -10000px 0px 0px;
	background: transparent url("../images/caf_logowhite_final.svg") no-repeat left top;
	background-size: contain;
}

.nosvg #buttonu2352:hover
{
	background-image: url('../images/caf_logonavy_final_poster_u2107.png');
}

.nosvg #buttonu2352,.nosvg #buttonu2352.ButtonSelected
{
	background-image: url('../images/caf_logowhite_final_poster_u2096.png');
}

#u2355
{
	z-index: 147;
	width: 192px;
	height: 59px;
	position: relative;
	margin-right: -10000px;
}

#pu2329,#pu2344
{
	width: 0.01px;
	margin-left: -100px;
}

#u2329_align_to_page,#u2344_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2345
{
	z-index: 63;
	width: 1160px;
	margin-right: -10000px;
	margin-top: -51px;
}

#u2344,#u2344-bw
{
	z-index: 62;
	min-height: 526px;
}

#u2347
{
	z-index: 65;
	margin-right: -10000px;
	margin-top: 20px;
	left: 122px;
}

#u422-22
{
	z-index: 68;
	width: 708px;
	min-height: 118px;
	background-color: transparent;
	line-height: 48px;
	text-align: center;
	font-size: 40px;
	margin-left: 126px;
	margin-top: 76px;
	position: relative;
}

#u422-14
{
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u422-20
{
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u422-12,#u422-18
{
	letter-spacing: -2px;
}

#u425
{
	z-index: 132;
	width: 916px;
	height: 10px;
	border-style: solid;
	border-color: #0072BC;
	background-color: #FFFFFF;
	margin-left: 22px;
	margin-top: 10px;
	position: relative;
	border-width: 1px 0px 0px;
}

#ppu426-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 55px;
}

#pu426-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 15px;
}

#u426-4
{
	z-index: 90;
	width: 292px;
	min-height: 33px;
	background-color: transparent;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	color: #0072BC;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u428-10
{
	z-index: 102;
	width: 458px;
	min-height: 100px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 300;
	margin-top: 7px;
	position: relative;
}

#u838
{
	z-index: 139;
	position: relative;
	margin-right: -10000px;
	left: 534px;
}

#pu433-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 48px;
}

#u433-4
{
	z-index: 98;
	width: 292px;
	min-height: 33px;
	background-color: transparent;
	line-height: 36px;
	text-align: right;
	font-size: 30px;
	color: #0072BC;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 624px;
}

#u434-10
{
	z-index: 122;
	width: 458px;
	min-height: 100px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 458px;
}

#u857
{
	z-index: 140;
	position: relative;
	margin-right: -10000px;
}

#ppu431-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 74px;
}

#pu431-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 35px;
}

#u431-4
{
	z-index: 94;
	width: 433px;
	min-height: 33px;
	background-color: transparent;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	color: #0072BC;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u422,#u422-3,#u422-5,#u422-7,#u422-9,#u422-11,#u422-15,#u422-17,#u426,#u433,#u431
{
	letter-spacing: -1px;
}

#u432-10
{
	z-index: 112;
	width: 458px;
	min-height: 100px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 300;
	margin-top: 7px;
	position: relative;
}

#u774
{
	z-index: 138;
	position: relative;
	margin-right: -10000px;
	left: 532px;
}

#pbuttonu435
{
	width: 0.01px;
	margin-left: 333px;
	margin-top: 69px;
}

#buttonu435
{
	z-index: 133;
	width: 292px;
	border-width: 2px;
	border-style: solid;
	border-color: #0072BC;
	background-color: transparent;
	padding-bottom: 17px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#buttonu435:hover
{
	width: 292px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#u436-4
{
	z-index: 134;
	width: 293px;
	min-height: 23px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 22px;
	color: #0072BC;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#buttonu435:hover #u436-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 293px;
	margin: 19px -10000px 0px 0px;
}

#buttonu435.ButtonSelected #u436-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 293px;
	margin: 19px -10000px 0px 0px;
}

#buttonu1886
{
	z-index: 141;
	width: 294px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#buttonu1886:hover
{
	background-color: #003C73;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 294px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1887-4
{
	z-index: 142;
	width: 293px;
	min-height: 23px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 22px;
	color: #0072BC;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#buttonu1886:hover #u1887-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 293px;
	margin: 20px -10000px 0px 0px;
}

#buttonu1886.ButtonSelected #u1887-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 293px;
	margin: 20px -10000px 0px 0px;
}

#u2327
{
	z-index: 3;
	min-height: 247px;
}

#u2327_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 33px;
	padding-bottom: 20px;
}

#buttonu2359
{
	z-index: 66;
	width: 192px;
	left: 484px;
}

#buttonu2359:hover
{
	width: 192px;
	min-height: 0px;
	margin: 0px;
}

#buttonu2359.ButtonSelected
{
	width: 192px;
	min-height: 0px;
	margin: 0px;
}

#u2360
{
	z-index: 67;
	width: 192px;
	height: 59px;
	margin-right: -10000px;
}

.ie #u2355,.ie #u2360
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu2289
{
	z-index: 29;
	width: 341px;
	left: 409px;
	margin-top: 19px;
}

#u2311
{
	width: 83px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2312
{
	width: 83px;
	padding-bottom: 17px;
}

#u2312.MuseMenuActive
{
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u2314-4
{
	width: 83px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2312:hover #u2314-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u2312.MuseMenuActive #u2314-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u2290
{
	width: 84px;
	min-height: 34px;
	margin-right: -10000px;
	left: 85px;
}

#u2291
{
	width: 84px;
	padding-bottom: 17px;
}

#u2293-4
{
	width: 84px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2291:hover #u2293-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u2304
{
	width: 84px;
	min-height: 34px;
	margin-right: -10000px;
	left: 171px;
}

#u2307
{
	width: 84px;
	padding-bottom: 17px;
}

#u2308-4
{
	width: 84px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2291.MuseMenuActive #u2293-4,#u2307:hover #u2308-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u2297
{
	width: 84px;
	min-height: 34px;
	margin-right: -10000px;
	left: 257px;
}

#u2298
{
	width: 84px;
	padding-bottom: 17px;
}

#u2291.MuseMenuActive,#u2307.MuseMenuActive,#u2298:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u2298.MuseMenuActive
{
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u2299-4
{
	width: 84px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2307.MuseMenuActive #u2308-4,#u2298:hover #u2299-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u2298.MuseMenuActive #u2299-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#pu2325
{
	width: 0.01px;
	left: 484px;
	margin-top: 17px;
	position: relative;
}

#u2325
{
	z-index: 59;
	width: 35px;
	margin-right: -10000px;
}

#u2318
{
	z-index: 60;
	width: 35px;
	margin-right: -10000px;
	left: 52px;
}

#u2323
{
	z-index: 58;
	width: 35px;
	margin-right: -10000px;
	left: 105px;
}

#u2320
{
	z-index: 61;
	width: 35px;
	margin-right: -10000px;
	left: 157px;
}

#u2325:hover,#u2318:hover,#u2323:hover,#u2320:hover
{
	width: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2328-4
{
	z-index: 54;
	width: 222px;
	min-height: 10px;
	left: 469px;
	margin-top: 20px;
}

#u2327-bw
{
	z-index: 3;
	min-height: 247px;
	margin-top: 91px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

