#buttonu2633
{
	border-color: #787878;
	position: relative;
	background: transparent url("../images/caf_logowhite_off_final.svg") no-repeat left top;
	background-size: contain;
}

#buttonu2633:hover
{
	background: transparent url("../images/caf_logonavy_on_final.svg") no-repeat left top;
	background-size: contain;
}

#menuu474,#u485
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u486-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u485:hover #u486-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u527
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u528-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u485.MuseMenuActive #u486-4 p,#u527:hover #u528-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u520
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u521-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u527.MuseMenuActive #u528-4 p,#u520:hover #u521-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u513
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u514-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u520.MuseMenuActive #u521-4 p,#u513:hover #u514-4 p
{
	color: #003C73;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u103,#u596
{
	border-style: none;
	border-color: transparent;
	background-color: #0072BC;
}

#u103_align_to_page,#u596_align_to_page
{
	position: relative;
}

#buttonu2634
{
	border-color: #787878;
	position: relative;
	background: transparent url("../images/caf_logowhite_off_final.svg") no-repeat left top;
	background-size: contain;
}

#buttonu2634:hover
{
	background: transparent url("../images/caf_logonavy_on_final.svg") no-repeat left top;
	background-size: contain;
}

#buttonu2633.ButtonSelected,#buttonu2634.ButtonSelected
{
	background: transparent url("../images/caf_logowhite_off_final.svg") no-repeat left top;
	background-size: contain;
}

.nosvg #buttonu2633:hover,.nosvg #buttonu2634:hover
{
	background-image: url('../images/caf_logonavy_on_final_poster_u2618.png');
}

.nosvg #buttonu2633,.nosvg #buttonu2633.ButtonSelected,.nosvg #buttonu2634,.nosvg #buttonu2634.ButtonSelected
{
	background-image: url('../images/caf_logowhite_off_final_poster_u2613.png');
}

#menuu1113,#u1117
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1119-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u513.MuseMenuActive #u514-4 p,#u1117:hover #u1119-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u1129
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1132-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1117.MuseMenuActive #u1119-4 p,#u1129:hover #u1132-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u1124
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1127-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1129.MuseMenuActive #u1132-4 p,#u1124:hover #u1127-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u482,#u524,#u517,#u510,#u1114,#u1128,#u1121,#u1135
{
	background-color: transparent;
	position: relative;
}

#u1138
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1141-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1124.MuseMenuActive #u1127-4 p,#u1138:hover #u1141-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u1138.MuseMenuActive #u1141-4 p
{
	color: #003C73;
	visibility: inherit;
}

#buttonu2544
{
	border-color: #787878;
	position: relative;
	background: transparent url("../images/email_off.svg") no-repeat left top;
	background-size: cover;
}

#buttonu2544:hover
{
	background: transparent url("../images/email_on.svg") no-repeat left top;
	background-size: cover;
}

#buttonu2544.ButtonSelected
{
	background: transparent url("../images/email_off.svg") no-repeat left top;
	background-size: cover;
}

.nosvg #buttonu2544:hover
{
	background-image: url('../images/email_on_poster_u2551.png');
}

.nosvg #buttonu2544,.nosvg #buttonu2544.ButtonSelected
{
	background-image: url('../images/email_off_poster_u2545.png');
}

#buttonu2530
{
	border-color: #787878;
	position: relative;
	background: transparent url("../images/linkedin_off.svg") no-repeat left top;
	background-size: cover;
}

#buttonu2530:hover
{
	background: transparent url("../images/linkedin_on.svg") no-repeat left top;
	background-size: cover;
}

#buttonu2530.ButtonSelected
{
	background: transparent url("../images/linkedin_off.svg") no-repeat left top;
	background-size: cover;
}

.nosvg #buttonu2530:hover
{
	background-image: url('../images/linkedin_on_poster_u2537.png');
}

.nosvg #buttonu2530,.nosvg #buttonu2530.ButtonSelected
{
	background-image: url('../images/linkedin_off_poster_u2531.png');
}

#buttonu2500
{
	border-color: #787878;
	position: relative;
	background: transparent url("../images/behance_off.svg") no-repeat left top;
	background-size: cover;
}

#buttonu2500:hover
{
	background: transparent url("../images/behance_on.svg") no-repeat left top;
	background-size: cover;
}

#buttonu2500.ButtonSelected
{
	background: transparent url("../images/behance_off.svg") no-repeat left top;
	background-size: cover;
}

.nosvg #buttonu2500:hover
{
	background-image: url('../images/behance_on_poster_u2508.png');
}

.nosvg #buttonu2500,.nosvg #buttonu2500.ButtonSelected
{
	background-image: url('../images/behance_off_poster_u2504.png');
}

#buttonu2516
{
	border-color: #787878;
	position: relative;
	background: transparent url("../images/pinterest_off.svg") no-repeat left top;
	background-size: cover;
}

#buttonu2516:hover
{
	background: transparent url("../images/pinterest_on.svg") no-repeat left top;
	background-size: cover;
}

#buttonu2516.ButtonSelected
{
	background: transparent url("../images/pinterest_off.svg") no-repeat left top;
	background-size: cover;
}

.nosvg #buttonu2516:hover
{
	background-image: url('../images/pinterest_on_poster_u2523.png');
}

.nosvg #buttonu2516,.nosvg #buttonu2516.ButtonSelected
{
	background-image: url('../images/pinterest_off_poster_u2517.png');
}

#u722-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 8px;
	line-height: 10px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

