#menuu2260,#u2271
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2272-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2271:hover #u2272-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u2264
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2267-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2271.MuseMenuActive #u2272-4 p,#u2264:hover #u2267-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u2285
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2287-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2264.MuseMenuActive #u2267-4 p,#u2285:hover #u2287-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u2278
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2280-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2285.MuseMenuActive #u2287-4 p,#u2278:hover #u2280-4 p
{
	color: #003C73;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2347
{
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
}

#u2329,#u2344,#u2327
{
	border-style: none;
	border-color: transparent;
	background-color: #0072BC;
}

#buttonu2359
{
	border-color: #787878;
	position: relative;
	background: transparent url("../images/caf_logowhite_final.svg") no-repeat left top;
	background-size: contain;
}

#buttonu2359:hover
{
	background: transparent url("../images/caf_logonavy_final.svg") no-repeat center center;
	background-size: cover;
}

#buttonu2359.ButtonSelected
{
	background: transparent url("../images/caf_logowhite_final.svg") no-repeat left top;
	background-size: contain;
}

.nosvg #buttonu2359:hover
{
	background-image: url('../images/caf_logonavy_final_poster_u2107.png');
}

.nosvg #buttonu2359,.nosvg #buttonu2359.ButtonSelected
{
	background-image: url('../images/caf_logowhite_final_poster_u2096.png');
}

#u2329_align_to_page,#u2344_align_to_page,#u2327_align_to_page,#u2360
{
	position: relative;
}

#menuu2289,#u2312
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2314-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2278.MuseMenuActive #u2280-4 p,#u2312:hover #u2314-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u2291
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2293-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2312.MuseMenuActive #u2314-4 p,#u2291:hover #u2293-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u2307
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2308-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2291.MuseMenuActive #u2293-4 p,#u2307:hover #u2308-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u2268,#u2261,#u2282,#u2275,#u2345,#u2311,#u2290,#u2304,#u2297
{
	background-color: transparent;
	position: relative;
}

#u2298
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2299-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2307.MuseMenuActive #u2308-4 p,#u2298:hover #u2299-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u2298.MuseMenuActive #u2299-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u2325
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

#u2318
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

#u2323
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

#u2320
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

#u2325:hover,#u2318:hover,#u2323:hover,#u2320:hover
{
	background-color: #003C73;
}

#u2328-4
{
	background-color: transparent;
	line-height: 10px;
	text-align: center;
	font-size: 8px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

