#buttonu2093
{
	border-color: #787878;
	position: relative;
	background: transparent url("../images/caf_logowhite_final.svg") no-repeat left top;
	background-size: contain;
}

#buttonu2093:hover
{
	background: transparent url("../images/caf_logonavy_final.svg") no-repeat center center;
	background-size: cover;
}

#menuu474,#u485
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u486-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u485:hover #u486-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u527
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u528-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u485.MuseMenuActive #u486-4 p,#u527:hover #u528-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u520
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u521-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u527.MuseMenuActive #u528-4 p,#u520:hover #u521-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u513
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u514-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u520.MuseMenuActive #u521-4 p,#u513:hover #u514-4 p
{
	color: #003C73;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u103,#u596
{
	border-style: none;
	border-color: transparent;
	background-color: #0072BC;
}

#u103_align_to_page,#u596_align_to_page
{
	position: relative;
}

#buttonu2113
{
	border-color: #787878;
	position: relative;
	background: transparent url("../images/caf_logowhite_final.svg") no-repeat left top;
	background-size: contain;
}

#buttonu2113:hover
{
	background: transparent url("../images/caf_logonavy_final.svg") no-repeat center center;
	background-size: cover;
}

#buttonu2093.ButtonSelected,#buttonu2113.ButtonSelected
{
	background: transparent url("../images/caf_logowhite_final.svg") no-repeat left top;
	background-size: contain;
}

.nosvg #buttonu2093:hover,.nosvg #buttonu2113:hover
{
	background-image: url('../images/caf_logonavy_final_poster_u2107.png');
}

.nosvg #buttonu2093,.nosvg #buttonu2093.ButtonSelected,.nosvg #buttonu2113,.nosvg #buttonu2113.ButtonSelected
{
	background-image: url('../images/caf_logowhite_final_poster_u2096.png');
}

#menuu1113,#u1117
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1119-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u513.MuseMenuActive #u514-4 p,#u1117:hover #u1119-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u1129
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1132-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1117.MuseMenuActive #u1119-4 p,#u1129:hover #u1132-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u1124
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1127-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1129.MuseMenuActive #u1132-4 p,#u1124:hover #u1127-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u482,#u524,#u517,#u510,#u1114,#u1128,#u1121,#u1135
{
	background-color: transparent;
	position: relative;
}

#u1138
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1141-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1124.MuseMenuActive #u1127-4 p,#u1138:hover #u1141-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u1138.MuseMenuActive #u1141-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u978
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

#u981
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

#u975
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

#u984
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

#u978:hover,#u981:hover,#u975:hover,#u984:hover
{
	background-color: #003C73;
}

#u722-4
{
	background-color: transparent;
	line-height: 10px;
	text-align: center;
	font-size: 8px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

