.version.portfolio /* version checker */
{
	color: #0000F1;
	background-color: #E8B3A9;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1872px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u103
{
	z-index: 2;
	min-height: 97px;
	padding-bottom: 31px;
}

#u103_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#buttonu2633
{
	z-index: 62;
	width: 192px;
	height: 61px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 122px;
}

#buttonu2633:hover
{
	width: 192px;
	height: 61px;
	min-height: 0px;
	margin: 36px -10000px 0px 0px;
}

#buttonu2633.ButtonSelected
{
	width: 192px;
	height: 61px;
	min-height: 0px;
	margin: 36px -10000px 0px 0px;
}

#menuu474
{
	z-index: 4;
	width: 446px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 614px;
}

#u482
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
}

#u485
{
	width: 110px;
	padding-bottom: 17px;
}

#u486-4
{
	width: 110px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u485:hover #u486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u524
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 112px;
}

#u527
{
	width: 110px;
	padding-bottom: 17px;
}

#u528-4
{
	width: 110px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u485.MuseMenuActive #u486-4,#u527:hover #u528-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u517
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 224px;
}

#u520
{
	width: 110px;
	padding-bottom: 17px;
}

#u521-4
{
	width: 110px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u527.MuseMenuActive #u528-4,#u520:hover #u521-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u510
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 336px;
}

#u513
{
	width: 110px;
	padding-bottom: 17px;
}

#u485.MuseMenuActive,#u527.MuseMenuActive,#u520.MuseMenuActive,#u513:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u513.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u514-4
{
	width: 110px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u520.MuseMenuActive #u521-4,#u513:hover #u514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u513.MuseMenuActive #u514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u103-bw
{
	z-index: 2;
	min-height: 97px;
}

#u633-11
{
	z-index: 64;
	width: 916px;
	min-height: 49px;
	background-color: transparent;
	line-height: 48px;
	text-align: center;
	font-size: 40px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 22px;
	margin-top: 40px;
	position: relative;
}

#u1934-4
{
	z-index: 75;
	width: 292px;
	min-height: 19px;
	background-color: transparent;
	color: #0072BC;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 334px;
	margin-top: 30px;
	position: relative;
}

#u11337-4
{
	z-index: 253;
	width: 292px;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 334px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pu3435
{
	width: 0.01px;
	margin-left: 230px;
	margin-top: 6px;
}

#u3435
{
	z-index: 79;
	width: 154px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u3327-4
{
	z-index: 80;
	width: 154px;
	min-height: 24px;
	background-color: transparent;
	color: #000000;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3336
{
	z-index: 84;
	width: 154px;
	height: 5px;
	background-color: #0072BC;
	margin-top: 2px;
	position: relative;
}

#u3436
{
	z-index: 103;
	width: 154px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 173px;
}

#u3325-4
{
	z-index: 104;
	width: 154px;
	min-height: 24px;
	background-color: transparent;
	color: #000000;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3344
{
	z-index: 108;
	width: 154px;
	height: 5px;
	background-color: #0664A2;
	margin-top: 2px;
	position: relative;
}

#u3437
{
	z-index: 91;
	width: 154px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 346px;
}

#u3329-4
{
	z-index: 92;
	width: 154px;
	min-height: 24px;
	background-color: transparent;
	color: #000000;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3345
{
	z-index: 96;
	width: 154px;
	height: 5px;
	background-color: #0D517E;
	margin-top: 2px;
	position: relative;
}

#pu3440
{
	width: 0.01px;
	margin-left: 229px;
	margin-top: 15px;
}

#u3440
{
	z-index: 109;
	width: 154px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3333-4
{
	z-index: 110;
	width: 154px;
	min-height: 24px;
	background-color: transparent;
	color: #000000;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3341
{
	z-index: 114;
	width: 154px;
	height: 5px;
	background-color: #0C5395;
	margin-top: 2px;
	position: relative;
}

#u3439
{
	z-index: 97;
	width: 154px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 173px;
}

#u3334-4
{
	z-index: 98;
	width: 154px;
	min-height: 24px;
	background-color: transparent;
	color: #000000;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3339
{
	z-index: 102;
	width: 154px;
	height: 5px;
	background-color: #034684;
	margin-top: 2px;
	position: relative;
}

#u3438
{
	z-index: 85;
	width: 154px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 346px;
}

#u3335-4
{
	z-index: 86;
	width: 154px;
	min-height: 24px;
	background-color: transparent;
	color: #000000;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3337
{
	z-index: 90;
	width: 154px;
	height: 5px;
	background-color: #003C73;
	margin-top: 2px;
	position: relative;
}

#line1
{
	margin-left: 22px;
	margin-top: 25px;
	position: relative;
}

#u3443
{
	z-index: 209;
	width: 292px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3351
{
	z-index: 210;
	width: 292px;
	height: 292px;
	position: relative;
	background: transparent url("../images/freelance_thumbnail.jpg") no-repeat center center;
	background-size: cover;
}

#u3356-4
{
	z-index: 211;
	width: 292px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-top: 10px;
	position: relative;
}

#u3420
{
	z-index: 215;
	width: 292px;
	height: 5px;
	background-color: #0072BC;
	margin-top: 3px;
	position: relative;
}

#u3444
{
	z-index: 223;
	width: 292px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u3353
{
	z-index: 224;
	width: 292px;
	height: 292px;
	position: relative;
	background: transparent url("../images/bufootball_thumbnail.jpg") no-repeat left top;
	background-size: cover;
}

#u3369-4
{
	z-index: 225;
	width: 292px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-top: 10px;
	position: relative;
}

#u3426
{
	z-index: 229;
	width: 292px;
	height: 5px;
	background-color: #0664A2;
	margin-top: 3px;
	position: relative;
}

#u3445
{
	z-index: 237;
	width: 292px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#u3355
{
	z-index: 238;
	width: 292px;
	height: 292px;
	position: relative;
	background: transparent url("../images/pipedream_thumbnail.jpg") no-repeat left top;
	background-size: contain;
}

#u3378-4
{
	z-index: 239;
	width: 292px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-top: 10px;
	position: relative;
}

#u3428
{
	z-index: 243;
	width: 292px;
	height: 5px;
	background-color: #0D517E;
	margin-top: 3px;
	position: relative;
}

#u3357-6
{
	z-index: 115;
	width: 292px;
	min-height: 90px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u633,#u633-3,#u633-5,#u633-7,#u3357-2
{
	letter-spacing: -1px;
}

#u3370-4
{
	z-index: 125;
	width: 292px;
	min-height: 90px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u3380-4
{
	z-index: 133;
	width: 292px;
	min-height: 90px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#pu3358-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 30px;
}

#u3358-4
{
	z-index: 185;
	width: 292px;
	min-height: 19px;
	background-color: transparent;
	color: #0072BC;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3371-4
{
	z-index: 193;
	width: 292px;
	min-height: 19px;
	background-color: transparent;
	color: #0072BC;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u3381-4
{
	z-index: 201;
	width: 292px;
	min-height: 19px;
	background-color: transparent;
	color: #0072BC;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#u3361-8
{
	z-index: 141;
	width: 292px;
	min-height: 58px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u3372-8
{
	z-index: 155;
	width: 292px;
	min-height: 58px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u3382-8
{
	z-index: 171;
	width: 292px;
	min-height: 58px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#line2
{
	margin-left: 22px;
	margin-top: 35px;
	position: relative;
}

#pu3443,#pu3446
{
	width: 0.01px;
	margin-left: 22px;
}

#u3446
{
	z-index: 216;
	width: 292px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u3401
{
	z-index: 217;
	width: 292px;
	height: 292px;
	position: relative;
	background: transparent url("../images/walterwhite_thumbnail.jpg") no-repeat center center;
	background-size: contain;
}

#u3404-4
{
	z-index: 218;
	width: 292px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-top: 10px;
	position: relative;
}

#u3434
{
	z-index: 222;
	width: 292px;
	height: 5px;
	background-color: #0C5395;
	margin-top: 3px;
	position: relative;
}

#u3447
{
	z-index: 230;
	width: 292px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u3402
{
	z-index: 231;
	width: 292px;
	height: 292px;
	position: relative;
	background: transparent url("../images/creative_thumbnail.jpg") no-repeat center center;
	background-size: cover;
}

#u3403-4
{
	z-index: 232;
	width: 292px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-top: 10px;
	position: relative;
}

#u3433
{
	z-index: 236;
	width: 292px;
	height: 5px;
	background-color: #034684;
	margin-top: 3px;
	position: relative;
}

#u3448
{
	z-index: 244;
	width: 292px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#u3408
{
	z-index: 245;
	width: 292px;
	height: 292px;
	position: relative;
	background: transparent url("../images/branding_thumbnail.jpg") no-repeat center center;
	background-size: cover;
}

#u3409-4
{
	z-index: 246;
	width: 292px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-top: 10px;
	position: relative;
}

#u3432
{
	z-index: 250;
	width: 292px;
	height: 5px;
	background-color: #003C73;
	margin-top: 3px;
	position: relative;
}

#pu3357-6,#pu3410-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 12px;
}

#u3410-4
{
	z-index: 121;
	width: 292px;
	min-height: 90px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u3407-4
{
	z-index: 129;
	width: 292px;
	min-height: 90px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u3412-4
{
	z-index: 137;
	width: 292px;
	min-height: 90px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#pu3414-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 10px;
}

#u3414-4
{
	z-index: 189;
	width: 292px;
	min-height: 19px;
	background-color: transparent;
	color: #0072BC;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3415-4
{
	z-index: 197;
	width: 292px;
	min-height: 19px;
	background-color: transparent;
	color: #0072BC;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u3413-4
{
	z-index: 205;
	width: 292px;
	min-height: 19px;
	background-color: transparent;
	color: #0072BC;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#pu3361-8,#pu3416-6
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 3px;
}

#u3416-6
{
	z-index: 149;
	width: 292px;
	min-height: 58px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u3417-8
{
	z-index: 163;
	width: 292px;
	min-height: 58px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u3418-6
{
	z-index: 179;
	width: 292px;
	min-height: 58px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#u596
{
	z-index: 3;
	min-height: 247px;
}

#u596_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 31px;
	padding-bottom: 20px;
}

#buttonu2634
{
	z-index: 63;
	width: 192px;
	height: 61px;
	left: 484px;
}

#buttonu2634:hover
{
	width: 192px;
	height: 61px;
	min-height: 0px;
	margin: 0px;
}

#buttonu2634.ButtonSelected
{
	width: 192px;
	height: 61px;
	min-height: 0px;
	margin: 0px;
}

#menuu1113
{
	z-index: 29;
	width: 341px;
	left: 409px;
	margin-top: 19px;
}

#u1114
{
	width: 83px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1117
{
	width: 83px;
	padding-bottom: 17px;
}

#u1117.MuseMenuActive
{
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u1119-4
{
	width: 83px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1117:hover #u1119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u1117.MuseMenuActive #u1119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u1128
{
	width: 84px;
	min-height: 34px;
	margin-right: -10000px;
	left: 85px;
}

#u1129
{
	width: 84px;
	padding-bottom: 17px;
}

#u1132-4
{
	width: 84px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1129:hover #u1132-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u1121
{
	width: 84px;
	min-height: 34px;
	margin-right: -10000px;
	left: 171px;
}

#u1124
{
	width: 84px;
	padding-bottom: 17px;
}

#u1127-4
{
	width: 84px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1129.MuseMenuActive #u1132-4,#u1124:hover #u1127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u1135
{
	width: 84px;
	min-height: 34px;
	margin-right: -10000px;
	left: 257px;
}

#u1138
{
	width: 84px;
	padding-bottom: 17px;
}

#u1129.MuseMenuActive,#u1124.MuseMenuActive,#u1138:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u1138.MuseMenuActive
{
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u1141-4
{
	width: 84px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1124.MuseMenuActive #u1127-4,#u1138:hover #u1141-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u1138.MuseMenuActive #u1141-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#pbuttonu2544
{
	width: 0.01px;
	left: 485px;
	margin-top: 17px;
	position: relative;
}

#buttonu2544
{
	z-index: 60;
	width: 34px;
	height: 34px;
	margin-right: -10000px;
}

#buttonu2544:hover
{
	width: 34px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu2530
{
	z-index: 59;
	width: 34px;
	height: 34px;
	margin-right: -10000px;
	left: 52px;
}

#buttonu2544.ButtonSelected,#buttonu2530:hover
{
	width: 34px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu2500
{
	z-index: 58;
	width: 34px;
	height: 34px;
	margin-right: -10000px;
	left: 104px;
}

#buttonu2530.ButtonSelected,#buttonu2500:hover
{
	width: 34px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu2516
{
	z-index: 61;
	width: 34px;
	height: 34px;
	margin-right: -10000px;
	left: 157px;
}

#buttonu2500.ButtonSelected,#buttonu2516:hover
{
	width: 34px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu2516.ButtonSelected
{
	width: 34px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u722-4
{
	z-index: 54;
	width: 222px;
	min-height: 10px;
	left: 469px;
	margin-top: 21px;
}

#u596-bw
{
	z-index: 3;
	min-height: 247px;
	margin-top: 64px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

