#u10770-4
{
	font-family: lato-n4, sans-serif;
}

#u10765-4
{
	font-family: lato-n4, sans-serif;
}

#u10760-4
{
	font-family: lato-n4, sans-serif;
}

#u10751-4
{
	font-family: lato-n4, sans-serif;
}

#u10835-4
{
	font-family: lato-n4, sans-serif;
}

#u10826-4
{
	font-family: lato-n4, sans-serif;
}

#u10846-4
{
	font-family: lato-n4, sans-serif;
}

#u10842-4
{
	font-family: lato-n4, sans-serif;
}

#u10850-4
{
	font-family: lato-n3, sans-serif;
}

#u10857-14,#u10864-4,#u10865-4,#u10879-4,#u10878-4,#u10874-4,#u10875-4
{
	font-family: lato-n3, sans-serif;
}

#u10857-20,#u10885-4
{
	font-family: lato-n4, sans-serif;
}

#u10887-4
{
	font-family: lato-n4, sans-serif;
}

