#u11093-4
{
	font-family: lato-n4, sans-serif;
}

#u11099-4
{
	font-family: lato-n4, sans-serif;
}

#u11081-4
{
	font-family: lato-n4, sans-serif;
}

#u11086-4
{
	font-family: lato-n4, sans-serif;
}

#u11127-4
{
	font-family: lato-n4, sans-serif;
}

#u11113-4
{
	font-family: lato-n4, sans-serif;
}

#u11134-4
{
	font-family: lato-n4, sans-serif;
}

#u11123-4
{
	font-family: lato-n4, sans-serif;
}

#u11139-4
{
	font-family: lato-n3, sans-serif;
}

#u16050-2,#u16051-4,#u11206-2,#u11211-4,#u11207-2,#u11212-4,#u11208-2,#u11213-4,#u11209-2,#u11214-4,#u11210-2,#u11215-4
{
	font-family: lato-n3, sans-serif;
}

#u16050-5,#u11206-5,#u11207-5,#u11208-5,#u11209-5,#u11210-5,#u11224-4
{
	font-family: lato-n7, sans-serif;
}

#u16049-4,#u16052-4,#u11204-8,#u11217-4,#u11218-4,#u11219-4,#u11220-4,#u11221-4,#u11223-4,#u11225-4,#u11252-4,#u11300-4,#u11271-4,#u11298-4,#u11273-4,#u11297-4,#u11278-4,#u11293-4,#u11282-4,#u11294-4,#u11261-4,#u11301-4,#u11270-4,#u11299-4,#u11272-4,#u11296-4,#u11279-4,#u11303-4,#u11283-4,#u11295-4
{
	font-family: lato-n4, sans-serif;
}

