#u10770-4
{
	font-family: lato-n4, sans-serif;
}

#u10765-4
{
	font-family: lato-n4, sans-serif;
}

#u10760-4
{
	font-family: lato-n4, sans-serif;
}

#u10751-4
{
	font-family: lato-n4, sans-serif;
}

#u10835-4
{
	font-family: lato-n4, sans-serif;
}

#u10826-4
{
	font-family: lato-n4, sans-serif;
}

#u10846-4
{
	font-family: lato-n4, sans-serif;
}

#u10842-4
{
	font-family: lato-n4, sans-serif;
}

#u10850-4
{
	font-family: lato-n3, sans-serif;
}

#u15976-14,#u15980-4,#u15982-4,#u15981-4,#u15983-4,#u15988-4,#u15989-4
{
	font-family: lato-n3, sans-serif;
}

#u15976-20,#u15991-4
{
	font-family: lato-n4, sans-serif;
}

