#buttonu10815
{
	border-color: #787878;
	position: relative;
	background: transparent url("../../images/caf_logowhite_off_final.svg") no-repeat left top;
	background-size: contain;
}

#buttonu10815:hover
{
	background: transparent url("../../images/caf_logonavy_on_final.svg") no-repeat left top;
	background-size: contain;
}

#menuu10746,#u10769
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10770-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10769:hover #u10770-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u10762
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10765-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10769.MuseMenuActive #u10770-4 p,#u10762:hover #u10765-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u10757
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10760-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10762.MuseMenuActive #u10765-4 p,#u10757:hover #u10760-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u10748
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10751-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10757.MuseMenuActive #u10760-4 p,#u10748:hover #u10751-4 p
{
	color: #003C73;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u10806
{
	background: transparent url("../../images/home_image2.png") no-repeat left top;
	background-size: cover;
}

#u10818
{
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
}

#u10805,#u10744,#u10745
{
	border-style: none;
	border-color: transparent;
	background-color: #0072BC;
}

#buttonu10855
{
	border-color: #787878;
	position: relative;
	background: transparent url("../../images/caf_logowhite_off_final.svg") no-repeat left top;
	background-size: contain;
}

#buttonu10855:hover
{
	background: transparent url("../../images/caf_logonavy_on_final.svg") no-repeat left top;
	background-size: contain;
}

#buttonu10815.ButtonSelected,#buttonu10855.ButtonSelected
{
	background: transparent url("../../images/caf_logowhite_off_final.svg") no-repeat left top;
	background-size: contain;
}

.nosvg #buttonu10815:hover,.nosvg #buttonu10855:hover
{
	background-image: url('../../images/caf_logonavy_on_final_poster_u2618.png');
}

.nosvg #buttonu10815,.nosvg #buttonu10815.ButtonSelected,.nosvg #buttonu10855,.nosvg #buttonu10855.ButtonSelected
{
	background-image: url('../../images/caf_logowhite_off_final_poster_u2613.png');
}

#u10816,#u10856
{
	position: relative;
}

#menuu10821,#u10832
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10835-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10748.MuseMenuActive #u10751-4 p,#u10832:hover #u10835-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u10825
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10826-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10832.MuseMenuActive #u10835-4 p,#u10825:hover #u10826-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u10844
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10846-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10825.MuseMenuActive #u10826-4 p,#u10844:hover #u10846-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u10768,#u10761,#u10754,#u10747,#u10829,#u10822,#u10843,#u10836
{
	background-color: transparent;
	position: relative;
}

#u10839
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10842-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10844.MuseMenuActive #u10846-4 p,#u10839:hover #u10842-4 p
{
	color: #003C73;
	visibility: inherit;
}

#u10839.MuseMenuActive #u10842-4 p
{
	color: #003C73;
	visibility: inherit;
}

#buttonu10853
{
	border-color: #787878;
	position: relative;
	background: transparent url("../../images/email_off.svg") no-repeat left top;
	background-size: cover;
}

#buttonu10853:hover
{
	background: transparent url("../../images/email_on.svg") no-repeat left top;
	background-size: cover;
}

#buttonu10853.ButtonSelected
{
	background: transparent url("../../images/email_off.svg") no-repeat left top;
	background-size: cover;
}

.nosvg #buttonu10853:hover
{
	background-image: url('../../images/email_on_poster_u2551.png');
}

.nosvg #buttonu10853,.nosvg #buttonu10853.ButtonSelected
{
	background-image: url('../../images/email_off_poster_u2545.png');
}

#buttonu10852
{
	border-color: #787878;
	position: relative;
	background: transparent url("../../images/linkedin_off.svg") no-repeat left top;
	background-size: cover;
}

#buttonu10852:hover
{
	background: transparent url("../../images/linkedin_on.svg") no-repeat left top;
	background-size: cover;
}

#buttonu10852.ButtonSelected
{
	background: transparent url("../../images/linkedin_off.svg") no-repeat left top;
	background-size: cover;
}

.nosvg #buttonu10852:hover
{
	background-image: url('../../images/linkedin_on_poster_u2537.png');
}

.nosvg #buttonu10852,.nosvg #buttonu10852.ButtonSelected
{
	background-image: url('../../images/linkedin_off_poster_u2531.png');
}

#buttonu10851
{
	border-color: #787878;
	position: relative;
	background: transparent url("../../images/behance_off.svg") no-repeat left top;
	background-size: cover;
}

#buttonu10851:hover
{
	background: transparent url("../../images/behance_on.svg") no-repeat left top;
	background-size: cover;
}

#buttonu10851.ButtonSelected
{
	background: transparent url("../../images/behance_off.svg") no-repeat left top;
	background-size: cover;
}

.nosvg #buttonu10851:hover
{
	background-image: url('../../images/behance_on_poster_u2508.png');
}

.nosvg #buttonu10851,.nosvg #buttonu10851.ButtonSelected
{
	background-image: url('../../images/behance_off_poster_u2504.png');
}

#buttonu10854
{
	border-color: #787878;
	position: relative;
	background: transparent url("../../images/pinterest_off.svg") no-repeat left top;
	background-size: cover;
}

#buttonu10854:hover
{
	background: transparent url("../../images/pinterest_on.svg") no-repeat left top;
	background-size: cover;
}

#buttonu10854.ButtonSelected
{
	background: transparent url("../../images/pinterest_off.svg") no-repeat left top;
	background-size: cover;
}

.nosvg #buttonu10854:hover
{
	background-image: url('../../images/pinterest_on_poster_u2523.png');
}

.nosvg #buttonu10854,.nosvg #buttonu10854.ButtonSelected
{
	background-image: url('../../images/pinterest_off_poster_u2517.png');
}

#u10850-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 10px;
	text-align: center;
	font-size: 8px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

